*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* box-sizing: border-box; */
    /*
    content-box
        Essa é o estilo padrão, conforme especificado pela norma CSS. As propriedades width (largura) 
        e height (altura) são medidas incluindo só o conteúdo, mas não o padding, border ou margin. 
        Nota: Padding, border e margin serão fora da box. Exemplo.: Se .box {width: 350px} então se você 
        aplicar uma propriedade {border: 10px solid black;} o resultado renderizado no navegador (browser) 
        será .box {width: 370px;}
    padding-box 
        As propriedades de largura (width) e de altura (height) incluem o tamanho padding size, mas não incluem 
        a propriedade border ou margem.
    border-box
        As propriedades de largura (width) e de altura (height) incluem o tamanho padding size e a propriedade 
        border, mas não incluem a propriedade margin.
    */
}

html {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 100%; /* 1rem = 10px; 10px/16px(default) = 62.5 */
}