$color-black: #1E1E1E;
$color-grey-dark: #8B8B8B;
$color-grey: #D0D0D0;
$color-grey-light: #EBEBEB;
$color-white: #F8F8F8;

$color-primary-light: #D3D6FF;
$color-primary: #B0B4FF;
$color-primary-dark: #7E81D9;
$color-neutral: #FFE3B0;
$color-positive: #B4FFB0;
$color-negative: #FFB0B4;

$text-color-white: $color-white;

$sidenav-width: 14rem;