<div class="page-header">
    <h1>Portal Avisos</h1>
    <a class="btn btn-primary" id="btnAdcAviso" onclick="portalAvisos_openFicha('I')">
        <i class="fas fa-plus"></i>
        &nbsp;Aviso
    </a>
</div>

<hr class="page-divider">

{{!-- <div class="col-md-12">
    <div class="condoplus-panel" id="formPubliAviso">
        
    </div>
</div> --}}

<div class="row" style="margin-top: 1rem;">
    <div class="col-md-12">
        <div id="feedAvisos" style="display: flex;flex-direction: column;align-content: center;align-items: center;gap: 2rem;overflow-x: auto;"></div>
    </div>
</div>