.form {
    &_input {
        &--icon-eye {
            pointer-events: all!important;
            cursor: pointer;

            &--inactive {
                visibility: hidden;    
            }

            &--active {
                visibility: visible;
            }
        }
    }
}