#menuToggleContainer {
    padding: 0 .5rem;
    margin: .2rem 0;

    display: flex;
    justify-content: flex-end;
}

.menu-toggle__container {
    cursor: pointer;

    &--expanded {
        &:hover {
            .menu-toggle::after {
                transform: translateY(-.9rem);
            }
            
            .menu-toggle::before {
                transform: translateY(.9rem);
            }
        }
    }
    
    &--shrunken {
        &:hover {
            .menu-toggle {
                transform: translateX(32px);
            }
        }

        .menu-toggle {
            transform: translateX(36px);
            background-color: transparent;
        }

        .menu-toggle::after, .menu-toggle::before {
            width: 75%;
        }

        .menu-toggle::after {
            transform: rotate(-45deg) translateY(-13px);
        }

        .menu-toggle::before {
            transform: rotate(45deg) translateY(13px);
        }
    }
}

.menu-toggle {
    margin: 1rem 0;
    position: relative;
    border-radius: 1rem;
    width: 2.5rem;
    height: 0.3rem;
    background-color: white;

    transition: .3s;

    &::after, &::before {
        content: "";

        position: absolute;
        left: 0;

        width: 100%;
        height: 100%;
        
        background-color: white;
        border-radius: 1rem;

        transition: .3s;
    }

    &::after {
        transform: translateY(-.7rem);
    }
    
    &::before {
        transform: translateY(.7rem);
    }
}